<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

 <property name="REQUEST_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%t] %logger{0} - %m %rEx{full}%n" />

 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
  <encoder><pattern>${REQUEST_PATTERN}</pattern></encoder>
 </appender>
 <logger name="com.flickr4java.flickr" additivity="false">
  <level value="DEBUG"/>
  <appender-ref ref="CONSOLE"/>
 </logger> 
 <logger name="com.stfciz" additivity="false">
  <level value="DEBUG"/>
  <appender-ref ref="CONSOLE"/>
 </logger>   
 <logger name="org.springframework.data.elasticsearch" additivity="false">
  <level value="DEBUG"/>
  <appender-ref ref="CONSOLE"/>
 </logger>
 <logger name="org.springframework.boot" additivity="false">
  <level value="DEBUG"/>
  <appender-ref ref="CONSOLE"/>
 </logger>
 <logger name="org.springframework" additivity="false">
  <level value="INFO"/>
  <appender-ref ref="CONSOLE"/>
 </logger>
  <logger name="org.springframework.web" additivity="false">
  <level value="DEBUG"/>
  <appender-ref ref="CONSOLE"/>
 </logger>        
 <logger name="org.elasticsearch" additivity="false">
  <level value="DEBUG"/>
  <appender-ref ref="CONSOLE"/>
 </logger>   
 <root level="ERROR">
  <appender-ref ref="CONSOLE"/>
 </root>
</configuration>