<div class="container-fluid">
 <script type="text/ng-template" id="result">
  <div class="modal-header"></div>
  <div class="modal-body alert alert-success" ng-show="ok">
   <strong>{{doc.id}}</strong> successfully created.
  </div>
  <div class="modal-body alert alert-warning" ng-show="!ok">
   <strong>Error! Please retry.</strong>
  </div>
  <div class="modal-footer" ng-show="ok">
   <button class="btn btn-primary" ng-click="newWithValues()">New (with values)</button>
   <button class="btn btn-success" ng-click="newDoc()">New</button>
  </div>
  <div class="modal-footer" ng-show="!ok">
   <button class="btn btn-primary" ng-click="newWithValues()">OK</button>
  </div>
 </script>
 <form class="form-horizontal" role="form" ng-submit="submit()">
  <div class="row">
   <div class="col-md-12">
    <div ng-show="doc.title != null && doc.title != ''">
     <h1>{{doc.title}}
      <div class="btn-group" style="float: right;">
       <input type="button" class="btn btn-cancel" ng-click="cancel()" value="Reset"/>
       <input type="submit" class="btn btn-primary" value="Save"/>
      </div>
     </h1>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col-md-12">
  	<tabset>
      <tab heading="General">
       <div style="padding-top: 15px"></div>
       <ng-include src="'views/music/p_general.html'"></ng-include>
      </tab>
      <tab heading="Purchase">
      <div style="padding-top: 15px"></div>
      <ng-include src="'views/music/p_purchase.html'"></ng-include>
     </tab>
    </tabset>
   </div>
  </div>
 </form>
</div>