<div class="row">
 <div class="col-md-12">
  <div ng-show="doc.title != null && doc.title != ''">
   <h1>{{doc.title}}
    <div style="float: right;"> 
     <div class="btn-group" role="group" style="float: right; margin-left: 15px;" >
	  <button ng-click="view()" class="btn btn-default">Back</button>
	  <button ng-click="update()" class="btn btn-primary">Save</button>
	 </div>    
    </div>     
   </h1>
  </div>
  <form class="form-horizontal" role="form" ng-submit="update()">
   <tabset>
    <tab heading="General" active="tabs[0].active" select="selectTab('general')">
	 <div style="padding-top: 15px"></div>
     <ng-include src="'views/music/p_general.html'"></ng-include>
     <div style="float: right;">
      <button type="button" class="btn btn-danger" ng-click="remove(doc.id)">Delete</button>
     </div>
    </tab>
    <tab heading="Purchase" active="tabs[1].active" select="selectTab('purchase')">
     <div style="padding-top: 15px"></div>
     <ng-include src="'views/music/p_purchase.html'"></ng-include>
    </tab>
    <tab heading="Photos" active="tabs[2].active" select="selectTab('photos')">
     <div style="padding-top: 15px"></div>
	 <ng-include src="'views/music/p_photos.html'"></ng-include>
    </tab>
   </tabset>
  </form>
 </div>
</div>