<div class="row">
 <div class="alert alert-danger alert-dismissible col-md-12" role="alert" ng-show="action.result == 1">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Error</strong>
 </div>
</div>
<div class="row">
 <div class="col-md-4">
  <span class="glyphicon glyphicon-filter"></span>
  <input type="text" ng-focus="focus=true" ng-model="query" placeholder="Filter"/>
 </div>
 <br/>
 <br/>
 <div class="col-md-8">
  <htmldiv content="navigation"></htmldiv>
 </div>
</div>
<div class="row">
 <div class="col-md-12">
  <ul class="docs">
   <li ng-repeat="docInfos in docsInfos | filter:query" class="thumbnail">
    <a href="#/music_view/{{docInfos.id}}" class="thumb"><img ng-src="{{docInfos.url}}"/></a>
    <a href="#/music_view/{{docInfos.id}}" class="thumb">{{docInfos.title}}</a>
    <div style="float: left;"">
     <p>{{docInfos.line1}}</p>
    </div>
    <br/>
    <br/>
    <div style="float: left;" >
     <p>{{docInfos.line2}}</p>
     <p>{{docInfos.line3}} - {{docInfos.line4}}</p>
    </div>
   </li> 
  </ul> 
 </div>
</div>