<div class="form-group">
 <label class="control-label col-md-2" for="title">Title</label>
 <div class="col-md-2">          
  <input type="text" class="form-control" id="title" name="title" ng-model="doc.title" placeholder="title" required>
 </div>
 <label class="control-label col-md-1" for="artist">Artist</label>
 <div class="col-md-2">          
  <input type="text" class="form-control" id="artist" name="artist" ng-model="doc.artist" placeholder="artist" required>
 </div>
</div>
<div class="form-group">
 <label class="control-label col-md-2" for="mainType">Format</label>
 <div class="col-md-2">
  <select class="form-control" id="mainType" name="mainType" ng-model="doc.mainType">
   <option></option>
   <option ng-repeat="type in types">{{type}}</option>
  </select>
 </div>
 <label class="control-label col-md-1" for="nbType">Nb</label>
 <div class="col-md-2">          
  <select class="form-control" id="nbType" name="nbType" ng-model="doc.nbType">
   <option ng-repeat="nbType in nbTypeRange">{{nbType}}</option>
  </select>
 </div>
</div>
<div class="form-group">
 <label class="control-label col-md-2" for="promo">Promo</label>
 <div class="col-md-2 checkbox">
  <input type="checkbox" id="promo" name="promo" ng-model="doc.promo">
 </div>
</div>
<div class="form-group">
 <label class="control-label col-md-2" for="issue">Issue</label>
 <div class="col-md-2">   
  <select class="form-control" id="issue" name="issue" ng-model="doc.issue">
   <option></option>
   <option ng-repeat="year in years">{{year}}</option>
  </select>   
 </div>
 <label class="control-label col-md-1" for="edition">Edition</label>  
 <div class="col-md-2">          
  <select class="form-control" id="edition" name="edition" ng-model="doc.edition">
   <option></option>
   <option ng-repeat="year in years">{{year}}</option>
  </select>   
 </div>     
</div> 
<div class="form-group">
 <label class="control-label col-md-2" for="origin">Origin</label>
 <div class="col-md-2">          
  <select class="form-control" id="origin" name="origin" ng-model="doc.origin" ng-options="country.code as country.name for country in countries">
  </select>
 </div>
 <div ng-show="doc.origin == 'JP' && doc.mainType == 'LP'">
  <label class="control-label col-md-1" for="obiColor">Obi</label>
  <div class="col-md-1">          
   <input id="obiColor" type="color" name="obiColor" class="form-control col-md-1" ng-model="doc.obiColor"> 
  </div>
  <div class="col-md-1">
   <select class="form-control" id="obiPos" name="obiPos" ng-model="doc.obiPos">
    <option value="V">V</option>
    <option value="H">H</option>
   </select>
  </div>
 </div>
</div>
<div class="form-group">
 <label class="control-label col-md-2" for="serialNumber">Serial N&deg</label>
 <div class="col-md-2">   
  <input type="text" class="form-control" id="serialNumber" name="serialNumber" ng-model="doc.serialNumber" placeholder="serial number">    
 </div>
 <label class="control-label col-xs-1" for="pubNum">Limited</label>  
 <div class="col-md-1">          
  <input type="text" class="form-control" id="pubNum" name="pubNum" ng-model="doc.pubNum" placeholder="n&deg">
 </div>
 <div class="col-md-1">
  <input type="text" class="form-control" name="pubTotal" ng-model="doc.pubTotal" placeholder="total"> 
 </div>
</div>
<div class="form-group">
 <label class="control-label col-md-2" for="recordCompany">Record Company</label>
 <div class="col-md-2">   
  <input type="text" class="form-control" id="recordCompany" name="recordCompany" ng-model="doc.recordCompany" placeholder="record company"> 
 </div>
 <label class="control-label col-md-1" for="label">Label</label>
 <div class="col-md-2">
  <input type="text" class="form-control" id="label" name="label" ng-model="doc.label" placeholder="record label">    
 </div>
</div>