<div class="form-group">
 <label class="control-label col-md-2" for="purchasePrice">Purchase</label>
 <div class="col-md-1">          
  <input type="text" class="form-control" id="purchasePrice" name="purchasePrice" ng-model="doc.purchase.price" placeholder="price">
 </div>
 <div class="col-md-2">          
  <input type="date" class="form-control" id="purchaseDate" name="purchaseDate" ng-model="doc.purchase.date">
 </div>
 <div class="col-md-2">          
  <input type="text" class="form-control" id="purchaseVendor" name="purchaseVendor" ng-model="doc.purchase.vendor" placeholder="vendor">
 </div>  
 <div class="col-md-2">          
  <input type="text" class="form-control" id="purchaseContext" name="purchaseContext" ng-model="doc.purchase.context" placeholder="context/location">
 </div>
</div>