<div class="form-group">
 <label class="control-label col-md-2" for="purchasePrice">Purchase</label>
 <div class="col-md-2" style="display: inline-block;">          
  <input type="text" class="form-control" id="purchasePrice" name="purchasePrice" ng-model="doc.purchasePrice" placeholder="price in €">
 </div>
 <div class="col-md-2">          
  <input type="date" class="form-control" id="purchaseDate" name="purchaseDate" ng-model="doc.purchaseDate">
 </div>
 <div class="col-md-2">          
  <input type="text" class="form-control" id="purchaseVendor" name="purchaseVendor" ng-model="doc.purchaseVendor" placeholder="vendor">
 </div>  
 <div class="col-md-2">          
  <input type="text" class="form-control" id="purchaseContext" name="purchaseContext" ng-model="doc.purchaseContext" placeholder="context/location">
 </div>
</div>
<div class="form-group">
 <label class="control-label col-md-2" for="comment">Rating</label>
<!--  <label class="control-label col-md-1" for="quality">Sleeve</label> -->
 <div class="col-md-offset-1 col-md-3">
  <img src="images/rating/sleeve.png" title="sleeve rating"/>
  <rating ng-model="doc.sleeveGrade" max="10"></rating><p><i>{{doc.sleeveGrade}} : {{getGrade(doc.sleeveGrade)}}</i></p>   
 </div> 
 <div class="col-md-3">
  <img src="images/rating/record.png" title="sleeve record"/> 
  <rating ng-model="doc.recordGrade" max="10"></rating><p><i>{{doc.recordGrade}} : {{getGrade(doc.recordGrade)}}</i></p>    
 </div>
</div>
<div class="form-group">
 <label class="control-label col-md-2" for="comment">Comment</label>
 <div class="col-md-8">          
  <textarea type="text" class="form-control" rows="4" id="comment"  name="comment" ng-model="doc.comment"></textarea>
 </div>
</div>
