<div class="row">
 <div class="col-md-5">
  <img id="zomImage" ng-jet-zoom class="jetzoom" ng-src="{{currentImage.m.url}}"
     data-large-image="{{currentImage.o.url}}"
     height="{{currentImage.m.height}}" width="{{currentImage.m.width}}"
     style="border: 1px solid black; margin-right: 3em; margin-bottom: 2em; background-color: white"/>
 </div>
 <div class="col-md-7"> 
  <div class="row">
   <div class="col-md-12">
    <h1>{{doc.title}}
  <div class="btn-group" style="float: right;">
   <button type="button" ng-click="gotoFind()" type="button" class="btn">Back</button>
   <button ng-click="gotoEdit()" ng-show="canEdit" type="button" class="btn btn-primary">Edit</button>
  </div>
    </h1>
   </div>
  </div>
  <div class="row">
   <div class="col-md-12" ng-repeat="line in lines">
    <p>{{line}}</p>
  	</div>
  </div>
  <div class="row">
   <div id="gallery" class="col-md-12">
  	<ul class="images">
  	 <li ng-repeat="image in images">
      <img ng-src="{{image.details.t.url}}" ng-click="setCurrentImage($index)" 
        ng-class="{ 'active': $index == currentImagePos }"
      />
     </li>
    </ul>
   </div>
  </div>
 </div>
</div>